# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

Results

Scratch

# Large files
Input/Raw/OPERA/Input/Application/OPERA2.9_batches
Input/Raw/SEEM3/Exposure_download_v1_Data.csv
Input/Raw/DSSTox
Input/Features/OPERA-2.9-predictions.csv
Input/Features/OPERA-2.9-AD-flags.csv